<form action="/" method="post" hx-boost="true" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="list-group">
    {% for charity in charities %}
        <button class="list-group-item{% if choice.charity == charity %} active{% endif %}" name="charity_id" value="{{ charity.pk }}" type="submit">{{ charity.name }}</button>
    {% endfor %}
    </div>
</form>
