{% extends "_main.html" %}
{% block content %}
<h1>🍹Ottobar</h1>
<br>
<div class="px-3">
<div class="row">
    <div class="col-lg-4">
        <h4>Hlasuji pro charitu:</h4>
        {% include 'components/charities.html' %}
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>
</div>
<br>
{% if purchased_drinks %}
<hr>
<div class="px-3">
    <h4>Zatím jsem vypil:</h4>
    {% for purchased_drink in purchased_drinks %}
    <span class="badge badge-info">{{ purchased_drink.headline }}</span>
    {% endfor %}
</div>
<hr>
{% endif %}
<p class="lead"> </p>
<div class="container">
    <div class="row">
        {% for drink in drinks %}
        <div class="col-lg-4 pb-5 drink">
            <form action="/order/" method="post">
                {% csrf_token %}
                <h4 class="card-title">{{ drink.headline }}</h4>
                <p class="card-text">{{ drink.description|linebreaks }}</p>
                <input type="hidden" name="drink_id" value="{{ drink.id }}">
                <div class="card-footer">
                    <button class="btn btn-warning" type="submit">🛒 {{ drink.price_czk }} Kč</button>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
