{% extends "_main.html" %}
{% block content %}
<div>
    <h1>🍹Ottobar</h1>
    <p class="lead"> </p>
    <ol>
        <li>Dej si drink</li>
        <li>Hlasuj pro charitu</li>
        <li>Zaplať v pondělí Zuzce</li>
    </ol>
    <p></p>
    <a href="{{ authorization_url }}" class="btn btn-primary">Google Login</a>
</div>
{% endblock %}
