{% include '_main.html' %}
{% block content %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ drink.headline }}</h4>
                <a class="close" href="/">&times;</a>
            </div>

            <div class="modal-body">
                <p>🤑 {{ drink.price_czk }} Kč</p>
            </div>

            <div class="modal-footer">
                <a href="/" class="btn btn-default">Zavřít</a>

                <form action="/order/confirmation/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="drink_id" value="{{ drink.id }}">
                    <input type="hidden" name="transaction_id" value="{{ transaction_id }}">
                    <input type="submit" class="btn btn-primary" value="Otto, chystej!">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
