{% extends "_main.html" %}
{% block content %}
<div>
    <h1>Špatný účet</h1>
    <p class="lead">Ottobar funguje jen s firemním přihlášením</p>

    <a href="/" class="btn btn-primary">Zpátky</a>
</div>
{% endblock %}
